<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <h1>
      Invitation to Interview: Midlands State University - {{ advert.title }}
    </h1>

    <p>
      Dear {{ application.user.profile.first_name }} {{
      application.user.profile.last_name }},
    </p>

    <p>
      We hope this email finds you well. We are thrilled to inform you that your
      application for the {{ advert.title }} position at Midlands State
      University has been selected for further consideration. Your
      qualifications and experience have impressed our hiring team, and we
      believe you could be a great fit for our organization.
    </p>

    <p>
      We would like to invite you for an interview to get to know you better and
      discuss your potential contributions to our team. The interview details
      are as follows:
    </p>

    <p><strong>Date:</strong> [Interview Date]</p>
    <p><strong>Time:</strong> [Interview Time]</p>
    <p>
      <strong>Location:</strong> [Interview Location or Online Meeting Details]
    </p>

    <p>
      During the interview, we will discuss your skills, experiences, and
      suitability for the role. We encourage you to come prepared to share
      examples that highlight your accomplishments and demonstrate why you are
      the ideal candidate for this position.
    </p>

    <p>
      If the provided interview date and time are inconvenient for you, please
      let us know as soon as possible, and we will do our best to accommodate an
      alternative arrangement.
    </p>

    <p>
      To confirm your attendance or request a reschedule, please reply to this
      email or contact [Interviewer's Name] at [Interviewer's Email] or
      [Interviewer's Phone Number].
    </p>

    <p>
      We look forward to meeting you and exploring the potential of working
      together. Should you have any questions or require further information,
      please don't hesitate to reach out.
    </p>

    <p>Best regards,</p>

    <p>
      [Your Name]<br />
      [Your Position]<br />
      [Company Name]<br />
      [Company Contact Information]
    </p>
  </body>
</html>
