<section class="w-full">
  <div class="flex w-full py-3">
    <p class="w-2/5">Full Name</p>
    <p class="w-3/5">{{next_of_kin.full_name}}</p>
  </div>
  <div class="flex w-full py-3">
    <p class="w-2/5">Natinal Id Number</p>
    <p class="w-3/5">{{next_of_kin.national_id_number}}</p>
  </div>
  <div class="flex w-full py-3">
    <p class="w-2/5">Relationship</p>
    <p class="w-3/5">{{next_of_kin.relationship}}</p>
  </div>
  <div class="flex w-full py-3">
    <p class="w-2/5">Contact Phone</p>
    <p class="w-3/5">{{next_of_kin.contact_phone}}</p>
  </div>
  <div class="flex w-full py-3">
    <p class="w-2/5">Email address</p>
    <p class="w-3/5">{{next_of_kin.email}}</p>
  </div>
</section>
